.modal-container {
	background: rgba(52, 46, 46, 0.7490196078431373);
	z-index: 1000;
	inset: 0;
}
.modal-container-main {
	background: var(--bg-color);
}
.modal-container i {
	color: var(--font-light);
}
.display-none {
	display: none;
}

.display-flex {
	display: flex;
}
